#main .middle-main {
  margin: 0 100px;
  margin-top: 12px;
  padding: 20px 30px;
  background-color: var(--icat-background-color);
  border-radius: 8px;
  display: flex;
}
#main .middle-main .information-left {
  display: inline-flex;
  align-items: center;
  min-width: 50%;
  justify-content: space-between;
}
#main .middle-main .information-left .read {
  display: inline-grid;
  min-width: calc(100% / 4);
}
#main .middle-main .information-left .read .read-button {
  padding: 14px 34px;
  background-color: #5cb85c;
  border-radius: 4px;
  border: 1px solid var(--icat-style-border-always);
  width: 100%;
  text-align: center;
}
#main .middle-main .information-left .read i {
  margin-right: 6px;
}
#main .middle-main .information-left .popularity {
  min-width: calc(100% / 2);
  width: 210px;
  background-color: #5cb85c;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 14px 0;
}
#main .middle-main .information-right {
  display: inline-flex;
  align-items: center;
  min-width: 50%;
}
#main .middle-main .information-right .renew,
#main .middle-main .information-right .latest-chapter {
  min-width: calc(100% / 2);
}
